#drawingMapStart{
	display: flex;
	flex-direction: row-reverse;
}
#mapStart {
	width: 80%;
}
#wrapper {
	height: auto;
	min-height: calc(100vh - 15.5vh);
	padding-bottom: 120px;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.background {
	margin: 0;
}

section {
	padding: 1em;
}

section:nth-child(2n) {
	background-color: white;
}

section:nth-child(2n+1) {
	background-color: #f8f9fa;
}

.search-mycontainer {
	width: 100%;
	display: flex;
	flex-direction: column;
}

#search-map {
	width: 100%;
	height: 75vh;
}

section:nth-child(1) {
	margin-bottom: 0.25em;
	padding: 0;
}

.search-checkbox fieldset {
	border: none;
	display: flex;
	flex-wrap: wrap; /* 수정 */
	padding: 0;
	margin: 0;
}

/*  == 체크박스 ui꾸미기
.search-checkbox fieldset label {
  
} */
.search-checkbox label {
	margin-right: 10px; /* 체크박스 간 간격을 조절할 수 있음 */
}

.search-search-container {
	display: flex;
	flex-direction: column;
}

h2 {
	text-align: center;
	margin: 1rem;
}

.search-select {
	display: flex;
	justify-content: space-between;
}

.search-select select, .search-select input {
	flex: 3;
	margin: 0 1%; /* 간격을 조정할 수 있는 값 */
	text-align: center;
}

.search-select button {
	flex: 1;
	margin: 0 1%;
}

.search-checkbox {
	display: flex;
	justify-content: center;
}

legend {
	text-align: center;
	font-size: x-large;
	font-weight: bold;
}

label {
	margin: 0.5em;
	justify-content: center;
	display: inline-flex;
	align-items: center;
	font-weight: bold;
	font-size: medium;
}

label input[type="checkbox"] {
	margin-right: 5px;
}

select {
	padding: 0.5rem;
	font-size: 1rem;
	border: none;
	border-radius: 0.25rem;
	background-color: #eee;
	color: #333;
	border: 1px solid black;
}

#search-keyword {
	padding: 0.5rem;
	font-size: 1rem;
	border: none;
	border-radius: 0.25rem;
	background-color: #eee;
	color: #333;
	border: 1px solid black;
}

#search-button {
	padding: 0.5rem;
	font-size: 1rem;
	border: none;
	border-radius: 0.25rem;
	background-color: #eee;
	color: #333;
	border: 1px solid black;
}

#search-button:hover {
	background-color: black;
}

/* .wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
    .wrap * {padding: 0;margin: 0;}
    .wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
    .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
    .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
    .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
    .info .close:hover {cursor: pointer;}
    .info .body {position: relative;overflow: hidden;}
    .info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
    .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
    .info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
    .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
    .info .link {color: #5085BB;} */
.wrap {
  position: absolute;
  left: -145px;
  bottom: 40px;
  
  margin: 10px;
  width: 280px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 8px;
  background-color: #ffffff;
  overflow: hidden;
}

.wrap * {padding: 0;margin: 0;}

.body {
  position: relative;
  overflow: hidden;
}
.info .img {
  size: 100px;
  height: 150px;
  overflow: hidden;
}
.img img {
  width: 100%;
  height: 110%;
  border-radius: 10px;
}
.info .desc {
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}
.desc .ellipsis {
  margin-top: 5px;
  font-size: 12px;
}
.desc .title {
  font-weight: bold;
  overflow: hidden;
}
.desc .weader {
  border: 1px solid black;
  height: 30px;
  position: relative;
  top: -100;
}
.desc .addinfo {
  border: 1px solid black;
  text-align: center;
  color: #5085bb;
}
.link a {
  display: block;
  color: #5085bb;
  text-decoration: none;
  position: relative;
  top: 5px;
  text-align: center;
}