#weather_wrap {
	position: absolute;
	top: 235px;
	left: 20px;
	z-index: 1;
	background-color: rgb(142, 235, 212);
	color: white;
	width: 250px;
	height: 300px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgb(165, 165, 165);
	font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
}
#today_weather {
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
}
#weatherimg_wrap {
	display: flex;
	justify-content: center;
	margin-top: -14px
}

#weather-icon {
	width: 50%;
}

#name {
	font-size: 25px;
	text-align: center;
	margin-top: -30px;
}

#weatherinfo {
	display: flex;
	margin-left: 20px;
	height: 30px;
}
#weathertitle{
	line-height: 30px;
}
#temp {
	margin-left: 10px;
	line-height: 30px;
}

.temperature {
	margin-left: 5px;
	line-height: 30px;
}

#hum {
	margin-left: 10px;
	line-height: 30px;
}

.humidity {
	margin-left: 5px;
	line-height: 30px;
}