<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="css/search.css" rel="stylesheet" />
    <link href="css/header.css" rel="stylesheet" />
    <link href="css/footer.css" rel="stylesheet" />
  </head>
  <body>
    <header id="header"></header>
    <main>
      <div id="wrapper">
        <h1>준비중입니다.</h1>
      </div>
    </main>
    <!-- Footer-->
    <footer id="footer"></footer>
    <!-- Bootstrap core JS-->
    <script type="module" src="./js/drwaHeaderFooter.js"></script>
  </body>
</html>
