<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="text-left col-sm-12 col-md-12 col-lg-5 col-5">
      <div class="row">
        <div class="col-6">
          <div role="group" class="form-group" id="__BVID__146">
            <label for="user-name" class="d-block" id="__BVID__146__BV_label_"
              >등록자:</label
            >
            <div>
              <input
                id="user-name"
                type="text"
                placeholder="등록자 이름"
                readonly="readonly"
                class="form-control"
              /><!----><!----><!---->
            </div>
          </div>
        </div>
        <div class="col-6">
          <div role="group" class="form-group" id="__BVID__148">
            <label
              for="register-date"
              class="d-block"
              id="__BVID__148__BV_label_"
              >등록일:</label
            >
            <div>
              <input
                id="register-date"
                type="text"
                readonly="readonly"
                class="form-control"
              /><!----><!----><!---->
            </div>
          </div>
        </div>
      </div>
      <div role="group" class="form-group" id="__BVID__150">
        <label for="plan-name" class="d-block" id="__BVID__150__BV_label_"
          >계획 이름:</label
        >
        <div>
          <input
            id="plan-name"
            type="text"
            placeholder="계획 이름"
            readonly="readonly"
            class="form-control"
          /><!----><!----><!---->
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div role="group" class="form-group" id="__BVID__152">
            <label for="start-date" class="d-block" id="__BVID__152__BV_label_"
              >출발일:</label
            >
            <div>
              <input
                id="start-date"
                type="date"
                readonly="readonly"
                class="form-control"
              /><!----><!----><!---->
            </div>
          </div>
        </div>
        <div class="col-6">
          <div role="group" class="form-group" id="__BVID__154">
            <label for="end-date" class="d-block" id="__BVID__154__BV_label_"
              >도착일:</label
            >
            <div>
              <input
                id="end-date"
                type="date"
                readonly="readonly"
                class="form-control"
              /><!----><!----><!---->
            </div>
          </div>
        </div>
      </div>
      <div role="group" class="form-group" id="__BVID__156">
        <label for="plan-detail" class="d-block" id="__BVID__156__BV_label_"
          >계획 상세:</label
        >
        <div>
          <textarea
            id="plan-detail"
            placeholder="계획 상세 설명..."
            readonly="readonly"
            wrap="soft"
            class="form-control"
            style="resize: none; overflow-y: scroll; height: 86px"
          ></textarea
          ><!----><!----><!---->
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-4">
          <button type="button" class="btn btn-primary">목록</button>
        </div>
        <!---->
      </div>
    </div>
  </body>
</html>
